<div class="modal-header d-flex justify-content-end">
    <div class="m-2">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="modal-body px-2">
    <label>Nombre de nueva categoría:</label>
    <input type="text" class="form-control" placeholder="Nombre de categoría" (focus)="focus=true" (blur)="focus=false"
        [(ngModel)]="name" name="catname" style="border-color: #DDDDDD;" required />
</div>

<div class="modal-footer">
    <div class="center-side">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-default btn-link" (click)="emitNewCat()">Aceptar</button>
            <button type="button" class="btn btn-danger btn-link"
                (click)="activeModal.dismiss('Close click')">Volver</button>
        </div>
    </div>
</div>