<div class="modal-header">
    <div class="container px-1">
        <div class="d-flex flex-row justify-content-center">
            <div class="input-group mb-3" *ngIf="nameEdit">
                <input style="text-align:center;" type="text" class="form-control" placeholder="Nombre"
                    aria-label="Nombre" aria-describedby="basic-addon1" value={{nDish.name}} [(ngModel)]="nDish.name">
                <a href="" onclick="return false;" (click)="onNameEdit()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button">
                            <i class="bi bi-check-circle-fill"></i>
                        </button>
                    </div>
                </a>
            </div>

            <div class="d-flex flex-row" *ngIf="!nameEdit">
                <h5 class="modal-title text-center">{{nDish.name}}</h5>
                <a href="" onclick="return false;" (click)="onNameEdit()">
                    <div class="col-2">
                        <i class="bi bi-pencil text-dark"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-end" *ngIf="!nameEdit">
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<div class="modal-body px-2">
    <img class="card-img-top" [src]=nDish.url>
    <input type="file" style="display: none;" id="selectedFile" name="img" accept="image/png, image/jpeg"
        (change)="selectFile($event)" #imgInput>
    <a (click)="imgInput.click()" class="btn btn-neutral"><i class="bi bi-file-earmark-plus"></i> Subir imagen</a>
    <a (click)="upload()" class="btn btn-neutral"><i class="bi bi-file-earmark-plus"></i> upload()</a>
    <p [ngClass]="{'ahashakeheartache': isSizeError, 'faded': !isSizeError}" class="ml-2">Tamaño máximo: 2MB <br></p>

    <p class="ml-2">Descripción:<br></p>
    <div class="ml-2 d-flex justify-content-left">
        <div class="container-fluid pl-1 pr-5">
            <div class="d-flex flex-row">
                <div class="input-group mb-3" *ngIf="descEdit">
                    <input type="text" class="form-control" placeholder="Descripción" aria-label="Descripción"
                        value={{nDish.descripcion}} [(ngModel)]="nDish.descripcion">
                    <a href="" onclick="return false;" (click)="onDescEdit()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button">
                                <i class="bi bi-check-circle-fill"></i>
                            </button>
                        </div>
                    </a>
                </div>
            </div>

            <div class="d-flex flex-row" *ngIf="!descEdit">
                <span>
                    <h5>{{nDish.descripcion}}</h5>
                </span>
                <div class="col-2 d-flex align-content-center flex-wrap">
                    <a href="" onclick="return false;" (click)="onDescEdit()">
                        <p class="pt-auto"><i class="bi bi-pencil text-dark"></i></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="ml-2">Precio:</p>
    <div class="ml-2 d-flex justify-content-left">
        <div class="container-fluid pl-1 pr-5">
            <div class="d-flex flex-row">
                <div class="input-group mb-3" *ngIf="priceEdit">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="number" class="form-control" placeholder="Precio" aria-label="Precio"
                        aria-describedby="basic-addon1" value={{nDish.precio}} [(ngModel)]="nDish.precio">
                    <a href="" onclick="return false;" (click)="onPriceEdit()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button">
                                <i class="bi bi-check-circle-fill"></i>
                            </button>
                        </div>
                    </a>
                </div>
            </div>



            <div class="d-flex flex-row" *ngIf="!priceEdit">
                <h5>$</h5>
                <span>
                    <h5>{{nDish.precio}}</h5>
                </span>
                <div class="col-2 d-flex align-content-center flex-wrap">
                    <a href="" onclick="return false;" (click)="onPriceEdit()">
                        <p class="pt-auto"><i class="bi bi-pencil text-dark"></i></p>
                    </a>
                </div>
            </div>
            <br>
            <p *ngIf="notNumber" class="text-danger">Por favor, ingrese un valor numérico</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="center-side">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-default btn-link" (click)="sendChanges()">Aplicar</button>
            <button type="button" class="btn btn-danger btn-link"
                (click)="activeModal.close('Close click')">Volver</button>
        </div>
    </div>
</div>