<div class="wrapper" *ngIf="page">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('{{page.restaurant.img_banner}}');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container-fluid">
            <div class="owner">
                <div class="avatar">
                    <img src={{page.restaurant.img_avatar}} class="img-circle img-no-padding img-responsive shadowed">
                </div>
                <h1 class="title mt-2">{{page.restaurant.name}}<br /></h1>
            </div>
            <br />
            <div class="d-flex justify-content-center">
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab *ngFor="let category of page.categories" title="{{category.name}}">
                            <ng-template ngbTabContent class="">
                                <div class="container d-flex justify-content-center">
                                    <button class="btn mb-4"><i class="bi bi-plus-circle"></i> Agregar plato</button>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="card mx-2" style="max-width:225px" *ngFor="let dish of category.dishes">
                                        <a href="javascript:void(0)" (click)="openEditModal(dish)"
                                            class="stretched-link">
                                            <img class="card-img-top " src={{dish.url}} />
                                        </a>
                                        <div class="card-body">
                                            <p class="card-title">{{dish.name}}</p>
                                        </div>
                                        <div class="card-footer ">
                                            <p>${{dish.precio}}</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>
                    <br><br>
                    <div class="d-flex justify-content-center">
                        <p class="text-align-center">Contáctanos al 0180007893 o vísitanos en nuestra sede principal en
                            Manizales en la calle 3
                            #12-32.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>