<div class="wrapper" *ngIf="page">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('{{page.restaurant.img_banner}}');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container-fluid">
            <div class="owner">
                <div class="avatar">
                    <img src={{page.restaurant.img_avatar}} class="img-circle img-no-padding img-responsive shadowed">
                </div>
                <h1 class="title mt-2">{{page.restaurant.name}}<br /></h1>
            </div>
            <br />
            <div class="d-flex justify-content-center">
                <button (click)="openNewCat()" class="btn mb-4"><i
                        class="bi bi-plus-circle"></i> Agregar categoria</button>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <ngb-tabset [justify]="'center'" (tabChange)="onTabChange($event)" [activeId]="selectedTab+''">
                        <ngb-tab *ngFor="let category of page.categories; let i = index" title="{{category.name}}"
                            id="{{i}}">
                            <ng-template ngbTabContent class="">
                                <div class="container d-flex justify-content-center">
                                    <button (click)="openCreateModal()" class="btn mb-4"><i
                                            class="bi bi-plus-circle"></i> Agregar plato</button>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="card mx-2" style="max-width:225px" *ngFor="let dish of category.dishes">
                                        <a href="" onclick="return false;" (click)="openEditModal(dish)">
                                            <img class="card-img-top"  src={{dish.url}}/>
                                        </a>
                                        <div class="card-body" style="transform: rotate(0);">
                                            <a href="" onclick="return false;" (click)="openEditModal(dish)"
                                                class="stretched-link"></a>
                                            <p class="card-title">{{dish.name}}</p>
                                        </div>

                                        <div class="card-footer" style="position: relative;">
                                            <div class="d-flex">
                                                <div class="p-2 align-self-center">
                                                    <p>${{dish.precio}}</p>
                                                </div>
                                                <div class="ml-auto p-2">
                                                    <button (click)="clickMethod(dish)" class="btn btn-outline-danger" style="padding:0.5em 1em" type="button">
                                                        <i class="bi bi-trash3-fill"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>

                    </ngb-tabset>
                    <br><br>
                    <div class="d-flex justify-content-center">
                        <p class="text-align-center">{{page.restaurant.footer_info}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>