
<app-form></app-form>
<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/restaurante2.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register" style="background-color: white; margin-top: 70px">
            <h3 class="title" style="margin-bottom: 30px;">¡Registrate!</h3>
            <div class="social-line text-center">
            </div>

            <form class="register-form">
              <label>Correo</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>

                <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false"
                  style="border-color: #DDDDDD;" />
              </div>

              <label>Contraseña</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-key-25"></i>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true"
                  (blur)="focus1=false" 
                  style="border-color: #DDDDDD;" />
              </div>

            </form>
            <button type="submit" class="btn btn-outline-danger btn-danger btn-block btn-round"
                (click)="Registrar()">Registrar por email</button>

            <div class="register">
              <button class="btn btn-block btn-danger btn-round" style="margin-top:20px"
                (click)="LoginWithGoogle()">Regístrate con Google</button>
            </div>


            <div class="return">
              <a href="signin" class="btn btn-link btn-danger btn-block btn-round">¿Volver al login?</a>
              <br>
              <a href="landing" class="btn btn-link btn-danger btn-block btn-round btn-outline">¿Volver a inicio?</a>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>