<div class="page-header" style="background-image: url('./assets/img/restaurante2.jpg');">
    <div class="card card-plane">
        <div class="card-body card-plane">
    
            <h3 class="card-title text-center " > Por favor digite su correo</h3>
            <div class="form-group">
                <input type="email" class="form-control" [(ngModel)]="recuperar.email" [ngModelOptions]="{standalone: true}" required >
            </div> 
            <div class="form-group text-center">
                <button class=" btn btn-primary btn-large btn-danger"  (click)="onReset()" > Solicitar contraseña</button>  
            </div>
    
        </div>
    </div>
</div>