<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/kitchen-cloth-on-wood-table.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bon appetit</h1>
            <h3>Un sitio web para alojar tus cartas</h3>
            <br/><br/>
            <a href="#/signin"
                class="btn btn-outline-neutral btn-round btn-lg">¡Registra tu restaurante!</a>
            <br />
            <h3>ó</h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round btn-lg">¡Explora restaurantes!</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Somos una nueva alternativa <br>
                        <p style="font-size:0.7em">(Y tal vez la mejor 🤭)</p> para publicar tus cartas en la web
                    </h2>
                    <h2><small>¡Con {{parameters[0]}} socios creyendo en nuestro proyecto! <br> ¿Quieres participar tú también?</small>
                    </h2>
                    <br><br>
                    <a href="#/signin" class="btn btn-danger btn-round btn-lg">¡Publica tu carta YA!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">O bien</h2>
            <h2>Échale un ojo a nuestros socios 👀</h2>
            <br /><br />
            <div class="row">

                <div href="#" class="col-md-4 ">
                    <a href="#paper-kit">
                        <div class="card card-profile card-plain card-restaurante"
                            style="background-image: url('./assets/img/mcdonaldsfotoprincipal.jpg');" >
                            <div class="card-avatar">
                                <a href="#avatar" class="img" ><img  src={{parameters[1]}} alt="..."></a>
                            </div>
                            <div class="card-block">
                                <div class="author">
                                    <br/>
                                    <h3 class="card-title nombre"
                                        style="color: black; background-color:rgba(255,255,255,0.7); font-style: oblique;">{{parameters[2]}}</h3>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-md-4">
                    <a href="#paper-kit">
                        <div class="card card-profile card-plain card-restaurante"
                            style="background-image: url('./assets/img/pollo_frisby.jpg');">
                            <div class="card-avatar">
                                <a href="#avatar"><img src=".\assets\img\logo-frisby-1024x1024.jpg" alt="..."></a>
                            </div>

                            <div class="card-block">
                                <div class="author">
                                    <br/>
                                    <h3 class="card-title"
                                        style="color: black; background-color:rgba(255,255,255,0.7); font-style: oblique;">Frisby</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="#paper-kit">
                        <div class="card card-profile card-plain card-restaurante"
                            style="background-image: url('./assets/img/chorizo.jpeg');">
                            <div class="card-avatar">
                                <a href="http://localhost:4200/#/restaurant"><img src=".\assets\img\torigallo.jpeg" alt="..."></a>
                              
                            </div>

                            <div class="card-block">
                                <div class="author">
                                    <br/>
                                    <h3 class="card-title nombre"
                                        style="color: black; background-color:rgba(255,255,255,0.7); font-style: oblique;">Torigallo</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">¿Tienes alguna duda?</h2>
                    <h2 class="text-center">¡Contáctanos!</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Correo electrónico</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Correo electrónico" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                            </div>
                        </div>
                        <label>Mensaje</label>
                        <textarea class="form-control" rows="4"
                            placeholder="¡Déjanos saber qué piensas!"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-fill">¡Envíanos tu mensaje!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>