<div class="page-header" data-parallax="true"
    style="background-image: url('./assets/img/kitchen-cloth-on-wood-table.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bon appetit</h1>
            <h3>Un sitio web para alojar tus cartas</h3>
            <br /><br />
            <a href="/signin" class="btn btn-outline-neutral btn-round btn-lg">¡Registra tu restaurante!</a>
            <br />
            <h3>ó</h3>
            <br />
            <a href="/explorar" class="btn btn-outline-neutral btn-round btn-lg">¡Explora restaurantes!</a>
        </div>
    </div>
</div>

<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Somos una nueva alternativa <br>
                        <p style="font-size:0.7em">(Y tal vez la mejor 🤭)</p> para publicar tus cartas en la web
                    </h2>
                    <h2><small>¡Con {{part_num}} socios creyendo en nuestro proyecto! <br> ¿Quieres participar
                            tú también?</small>
                    </h2>
                    <br><br>
                    <a href="signin" class="btn btn-danger btn-round btn-lg">¡Publica tu carta YA!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark text-center">

        <app-featured (changeNumValueEvent)="setNum($event)"></app-featured>

    </div>

    <div class="section landing-section">

        <app-contact></app-contact>

    </div>
</div>